gunicorn
certifi
chardet
defusedxml
dj-database-url
Django
django-allauth
django-crispy-forms
crispy-bootstrap5
django-heroku
folium
geopy
idna
oauthlib
psycopg2
python3-openid
pytz
requests
requests-oauthlib
urllib3
whitenoise
pillow
