{% extends "open_now/base.html" %}
{% load static %}
{% block page-title %}
Homepage - OpenNow
{% endblock page-title %}

{% block header-no-div %}
<!--<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            {% if user.is_authenticated %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                If you are seeing this, your Google Account is authenticated as <strong>{{user.username}}</strong>!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                If you are seeing this, your Google Account is not authenticated, and you are viewing this site as a <strong>guest</strong>.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to OpenNow.</h1>
            <p class="col-lg-10 fs-4">You've reached Charlottesville and Albemarle County's premier site for exploring new and improved small businesses in the post-COVID era.</p>
            <p class="col-lg-10 fs-4"><strong>What's new? What's changed? Let's get started!</strong></p>

        </div>
        <div class="col-10 mx-auto col-lg-5">
            <form class="p-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-muted">OpenNow is not responsible for the content or accuracy of these results.</small>
            </form>
        </div>
    </div>
</div>-->

<!-- a useful colour palette for future use -->
<!-- https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff -->

<!-- homepage image Photo by <a href="https://unsplash.com/@shofukan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Colin Avery</a> on <a href="https://unsplash.com/s/photos/diner-night?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->

<!--<div class="container-fluid" style="padding-top:3rem">
    <div class="row">
        <div class="bg-image col-6">

        </div>
        <div class="col-6 g-0 bg-light" style="padding-top:2rem">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Welcome to OpenNow.</h1>
                    <p class="col-md-8 fs-4">You've reached Charlottesville and Albemarle County's premier site for exploring new and improved small businesses in the post-COVID era.</p>
                    <p class="col-md-8 fs-4 fw-bold">What's new? What's changed? Let's get started!</p>
                    <button class="btn btn-primary btn-lg" type="button">Example button</button>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!-- <div class="container-fluid bg-hero vh-75" style="padding-top:3rem">
    <div class="row">
        <h1>test</h1>

    </div>
</div> -->
<div class="container-fluid bg-hero" style="padding-top:7.5rem;padding-bottom: 7.5rem;">
    <div class="container">
        <div class="p-5 mb-4 text-white rounded-3" style="padding-top:3rem">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome to OpenNow.</h1>
                <p class="col-md-8 fs-4">You've reached Charlottesville and Albemarle County's premier site for exploring new and improved small businesses in the post-COVID era.</p>
                <p class="col-md-8 fs-4 fw-bold">What's new? What's changed? Let's get started!</p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-3" role="group" aria-label="First group">
                        <a href="{% url 'open_now:map' %}" class="btn btn-secondary btn-lg fw-bold">Search Map</a>
                    </div>
                    <div class="btn-group me-3" role="group" aria-label="Second group">
                        <a href="{% url 'open_now:business_list' %}" class="btn btn-primary btn-lg fw-bold">Discover Businesses »</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock header-no-div %}

{% block main-container %}
<div class="container mb-5">
    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        If you are seeing this, your Google Account is authenticated as <strong>{{user.username}}</strong>!
    </div>

    {% else %}
    <div class="alert alert-info" role="alert">
        If you are seeing this, your Google Account is not authenticated, and you are viewing this site as a <strong>guest</strong>.
    </div>
    {% endif %}
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-4">
        <div class="h-100 p-5 text-center bg-light border rounded-3">
            <h2>Support C'ville</h2>
            <p>Help local businesses recover from the impacts of the COVID-19 pandemic. Submit a new business to put them on the map!</p>
            <a href="{% url 'open_now:business_form' %}" class="btn btn-outline-secondary">Add Business</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="h-100 p-5 text-center bg-light border rounded-3">
            <h2>Find your Favourites</h2>
            <p>Beyond Grounds, there's more to Charlottesville than just O'Hill and Newcomb. Find your next favourite business and see the magic of C'ville.</p>
            <a href="{% url 'open_now:business_list' %}" class="btn btn-outline-secondary">Discover C'ville</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="h-100 p-5 text-center bg-light border rounded-3">
            <h2>Connect with Others</h2>
            <p>See what places fellow community members are talking about and enjoying the most. Engage with your peers and share your own thoughts!</p>
            <a href="{% url 'open_now:forums' %}" class="btn btn-outline-secondary">See Forums</a>
        </div>
    </div>
</div>
{% endblock main-container %}

{% block top-header %}

{% endblock top-header %}

{% block p-lead %}

{% endblock p-lead %}

{% block upper-body %}

{% endblock upper-body %}

{% block body %}
{% endblock body %}

{% block footer %}
<footer class="container pt-2">
    {% block footer-content %}
    {{block.super}}
    {% endblock footer-content %}
</footer>
{% endblock footer %}
