{% extends "open_now/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page-title %}
Maps - OpenNow
{% endblock page-title %}

{% block header-no-div %}

<div class="container-fluid" style="padding-top:3rem">
    <div class="row">
        <div class="col-4" style="padding-top:2rem">
            <div class="container">
                <h1>Address Map Search</h1>
                <p class="lead">Enter your current address to <strong>search for nearby businesses.</strong></p>
            </div>
            <div class="container">
                <form method="POST" class="row g-3">
                    {% csrf_token %}
                    <div class="col-12">
                        {{form.street_address | as_crispy_field}}
                    </div>
                    <div class="col-12">
                        {{form.address_2 | as_crispy_field}}
                    </div>
                    <div class="col-12">
                        {{form.city | as_crispy_field}}
                    </div>
                    <div class="col-md-8">
                        {{form.state | as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{form.postal_code | as_crispy_field}}
                    </div>
                    <div class="col-12">
                        <input type="submit" class="btn btn-success" value="Find Address">
                    </div>
                </form>
            </div>
            <div class="container">
            </div>
        </div>
        <div class="col-8 g-0">
            {{map|safe}}
        </div>
    </div>
</div>


{% endblock header-no-div %}

{% block top-header %}
{# Map Search #}
{% endblock top-header %}

{% block p-lead %}
{# Enter a valid address and <strong>search for businesses by map.</strong> #}
{% endblock p-lead %}

{% block upper-body %}

{% endblock upper-body %}
{% block body %}
{% endblock body %}